*{
    padding: 0;
    margin: 0;
}


/* Formulario */

.formulario{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.formulario input{
    width: 25em;
}

.formularioarriba{
    background-color: rgb(248, 249, 250);
}